approval_rules:
{# create the "regular owner" rules #}
{% for env in environments -%}
- name: owner_regular-{{env.metadata.labels.cluster}}/{{env.spec.namespace}}
  if:
    changed_files:
      paths:
      - ^releases/{{env.metadata.labels.cluster}}/{{env.spec.namespace}}.*$
  options:
    allow_author: false
    invalidate_on_push: true
    methods:
      github_review: true
  requires:
    count: 1
    users:
    {% for user in env.namespace.owners -%}
    - {{user}}
    {%- endfor %}
{% endfor %}

{# create the "override owner" rules #}
{% for env in environments -%}
- name: owner_override-{{env.metadata.labels.cluster}}/{{env.spec.namespace}}
  if:
    changed_files:
      paths:
      - ^releases/{{env.metadata.labels.cluster}}/{{env.spec.namespace}}.*$
  options:
    allow_author: true
    invalidate_on_push: true
    methods:
      comments:
      - FORCE_COMMIT
  requires:
    count: 1
    users:
    {% for user in env.namespace.owners -%}
    - {{user}}
    {%- endfor %}
{% endfor %}

# Admin override
- if:
    changed_files:
      paths:
      - ^.*$
  name: admin_override
  options:
    allow_author: true
    invalidate_on_push: true
    methods:
      comments:
      - FORCE_COMMIT
  requires:
    count: 1
    users:
    - jacksontj
policy:
  approval:
  - or:
    # "regular" owner approvals
    - and:
      {% for env in environments -%}
      - owner_regular-{{env.metadata.labels.cluster}}/{{env.spec.namespace}}
      {% endfor %}
    # "override" owner approvals
    - and:
      {% for env in environments -%}
      - owner_override-{{env.metadata.labels.cluster}}/{{env.spec.namespace}}
      {% endfor %}
    - admin_override

